.exit {
  background-color: #04aa6d;
  border: none;
  color: white;
  padding: 6px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 10px 10px;
  border-radius: 5px;
  padding-bottom: 9px;
}
body {
  background-color: #f1f1f1;
}
.pic {
  height: 700px;
  width: 1000px;

  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%; /* Adjust the width as needed */
  padding-top: 0px;
  margin-top: -60px;
}
